<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
  <link rel="stylesheet" href="css/profile.css">
</head>
<body>
    <!-- <div class="navbar">
        <img src="image/iolx (2) (1).png" class="logo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/buy">Buyer</a></li>
            <li><a href="/sell">Seller</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </div> -->
    <%-include("nav")-%>

  <div class="container">
    <div class="row">
      <div class="col-md-4"style="margin-top=5px">
        <div class="card"style="margin-top=5px">
          <div class="avatar-ctn">
            <img src="image/avatar.png" class="avatar" alt="user profile picture"/>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%=name%> <%=user[0].sName%></h5>
            <p class="card-text">Address: <%=user[0].address%><br>Phone No.: <%=user[0].phoneNo%><br><%=user[0].email%></p>
          <br>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card text-center" style="margin-top: 5px;">
          <div class="card-header" >
            Profile Page
          </div>
          <div class="card-body">
            <h5 class="card-title">Hey <%=name%> welcome back</h5>
            <p class="card-text">Here you can see your goods you have added to your wishlist.</p>
            <div>
                <%if(wish.length>0){%>
                  <%for(var i=0;i<wish.length;i++){%>
                  <li><%=wish[i].productName%></li>
                  <%}%>
                <%}else{%>
                  <em>No goods in wishlist</em>
                <%}%>
            </div>
          </div>
        </div>
        <div class="card text-center" style="margin-top: 5px;">
          <div class="card-body">
            <h5 class="card-title">Here you can see your goods you want to sell.</h5>
            <form action="/profile" method="post"><div>
              <%if(wish.length>0){%>
              <%for(var i=0;i<sell.length;i++){%>
                <li><%=sell[i].productName%></li><button type="submit" name="sold" value=<%=sell[i].listingID%>>Sold</button>
                <%}%>
                <%}else{%>
                  <em>No goods listed for selling</em>
                <%}%>
            </div></form>
            
          </div>
          <div class="card-footer text-muted">
            Node MySQL - Project
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>